<main>
  <div class="h-screen flex flex-col">
    <Flashy.Container.render flash={@flash} />

    <div class="py-20 mx-auto max-w-2xl flex h-screen">
      <%= @inner_content %>
    </div>
  </div>
</main>
